body {
    font: 20px 'oblique';
    margin: 0;
    padding: 0;
    background-color: pink;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 20px;
    color: black;
    background-color: darkorange;
    text-decoration: none;
}
ul.menu > li > a:hover {
    text-decoration: underline;
    background-color: wheat;
}
ul.dropmenu {
    position: absolute;
    display: none;
    width: 99%;
    top: 99%;
    left: 0px;
    background-color: white;
    border: 1px solid deepskyblue;
}
ul.dropmenu > li {
    display: block;
}
ul.dropmenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    background-color: violet;
    text-decoration: none;
}
ul.dropmenu > li > a:hover {
    text-decoration: underline;
    background-color: wheat;
}
ul.menu > li:hover > ul.dropmenu  {
    display: block;
}
ul.subdrop {
    position: absolute;
    display: none;
    left: 0px;
    width: 110%;
    top: 0px;
    left: 0;
    margin-left: 101%;
    background-color: white;
    border: 1px solid deepskyblue;
}

ul.subdrop > li {
    display: block;
}

ul.subdrop > li > a {
    display:block;
    padding: 15px;
    color: black;
    background-color: violet;
    text-decoration: none;
}
ul.subdrop > li > a:hover {
    text-decoration: underline;
    background-color: wheat;
}
ul.dropmenu > li:hover > ul.subdrop {
    display: block;
}
ul.dropsubdrop {
    position: absolute;
    display: none;
    left: 0px;
    width: 100%;
    top: 0px;
    left: 0;
    margin-left: 101%;
    background-color: white;
    border: 1px solid deepskyblue;
}

ul.dropsubdrop > li {
    display: block;
}

ul.dropsubdrop > li > a {
    display:block;
    padding: 15px;
    color: black;
    background-color: violet;
    text-decoration: none;
}
ul.dropsubdrop > li > a:hover {
    text-decoration: underline;
}
ul.subdrop > li:hover > ul.dropsubdrop {
    display: block;
}